*{
    margin: 0;
    box-sizing: border-box;
}

                                                /*  ----------------   HEADER   ----------------*/
/* ---- VERSION ESCRITORIO ----*/

/* ---- GENERAL ----*/
@media(min-width: 769px){
body{
    background-color: aqua;
}
header{
    background-color: white;
    font-family: 'Oswald', sans-serif;
}
.container ul li a{
    text-decoration-line: none;
}
.container ul li{
    list-style: none;
}
a{
    color: rgb(112, 111, 111);
}

/* ------  */

a:hover{
    color: rgb(44, 44, 44);
}

.container .logo{
    height: 80px;
    width: 100px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}


.listas{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.container .inputUsuario input{
    width:200%;
}

.inputUsuario .placeHolder{
    margin-left: 30%;
    width: 100%;
    margin-right: 15%;

}
.placeHolder::placeholder{
    text-align: center;
}

.container .registro{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}
.container .registro .entrar{
    margin-left: 140%;
}

.container .registro .carrito{
    width: 1%;
    position: absolute;
    right: 75px;
}

}




/* ---- VERSION MOBILE ----*/
@media(max-width: 768px){
    /* GENERAL*/
    body{
        background-color: aqua;
    }
    header{
        background-color: white;
        font-family: 'Oswald', sans-serif;
    }
    a{
        color: black;
    }
    a{
        color: rgb(112, 111, 111);
    }
    .container ul li a{
        text-decoration-line: none;
    }
    .container ul li{
        list-style: none;
    }

    /* ------ */
    .container{
        position: relative;
    }
    .container .logo{
        height: 40px;
        margin-left: 45%;
        
    }

    .listas{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .inputUsuario{
        text-align: center;
    }

    .inputUsuario input{
        margin-top: 20px;
        width: 85%;
    }

    .inputUsuario input:hover{
        background-color: rgb(231, 228, 228) ;
    }


    .placeHolder::placeholder{
        text-align: center;
    }

    .registro{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 0;
    }


}

                                                /*  ----------------   AQUI TERMINA EL HEADER   ----------------*/

/*  --- VERSION ESCRITORIO --- */
@media(min-width: 769px){
    .container-footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        font-family: 'Oswald', sans-serif;
        background-color: rgb(136, 136, 136);

    }
    /* ESTILO DE FUENTES*/

    .container-footer h3{
        font-size: 20px;
    }

    .container-footer p{
        font-size: 15px;
    }

    .container-footer  .tarjetaDC{
        font-size: 8px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: rgb(66, 65, 65);
    }
    


    /* ----- */
    article:not(.nosotros-general){
        width: 40%;
        border-left: 1px solid black;
    }
    .pagos, .ubicacion, .nosotros, .redes{
        text-align: center;
    }
    .container-footer .container-logo img{
        border-radius: 50%;
        width: 60%;
    }
    .container-footer .container-logo{
        padding-top: 25px ;
        background-color: white;
        text-align: center;
    }
    article .nosotros{
        border-left: none;
    }
    .nosotros-general{
        width: 40%;
    }

    .pagos i{
        font-size: 30px;
        
    }

    .redes i{
        font-size: 30px;
        width: 20%;
    }

    .container-redes{
        margin-top: 10px;
    }

}




/*Version Mobile */
@media(max-width: 768px){
    /*GENERALES*/
    .container-footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        font-family: 'Oswald', sans-serif;
        background-color: rgb(136, 136, 136);
    }

    .container-footer h3{
        font-size: 10px;
    }
    .container-footer p{
        font-size: 10px;
    }
    .container-footer p a{
        color: black;
        text-decoration: none;
        font-size: 10px;
    }
    /* ------*/
    article{
        width: 40%;
        border-left: 1px solid black;
    }
    .pagos, .ubicacion, .nosotros, .redes{
        text-align: center;
    }

    .container-footer .container-logo img{
        width: 0; /* sacamos la imagen */
    }
}